.scroll-top.affix-top {
    opacity: 0;
}

.scroll-top.affix {
    opacity: 1;
}

.scroll-top {
    background: none repeat scroll 0 0 #F0F0F0;
    border-top-left-radius: 3px;
    bottom: 0;
    color: #8A8A8A;
    cursor: pointer;
    height: 50px;
    line-height: 50px;
    position: fixed;
    right: 0;
    text-align: center;
    transition: opacity 0.2s ease 0s;
    vertical-align: middle;
    width: 50px;
    z-index: 6000;
    border: 1px solid #CCCCCC;
    margin: 10px;
}